.content-carrito{
    padding:0%;
    display: block;
    min-height: 10vh;
   
}

.sub-content-carrito{
    max-height: 55vh;
    overflow-y:scroll;
    padding: 10px 10px;
}
.sub-content-carrito::-webkit-scrollbar{
    width: 7px;
    height: 7px;
   
    cursor: pointer;
 }
 
 .sub-content-carrito::-webkit-scrollbar-thumb{
     background-color: var(--botones);
     width: 10px;
     border-radius:20px ;
     cursor: pointer;
 }



.producto-carrito{
    display: flex;
}
.producto-carrito img{
    width: 100px;
}

.card-productos{
    background-color: var(--bg-contain-text);
    width: 30rem;
    height: 10rem;
    border-radius: 10px;
    box-shadow: 0 2px 2px #1a1e25;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    text-align: left;
    display: flex;
    margin-top: 10px;
}

.card-productos:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.7);
    transition: all .40s ease;
}

.card-productos img{
    width: 30%;
    object-fit: cover;
}
.price-title{
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 7px 10%;
    margin-top: -10%;
}


.card-text-productos{
    width: 100%;
  
}
.eliminar{
    font-size: 20px;
    color: var(--botones);
    margin-left: 18rem;
    cursor: pointer;
    font-weight: 500;
}

.plane-cantidad{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: -8px;

}

.vaciar-comprar{
    margin-top: 10%;
    display: flex;
    width: 100%;
    gap: 7rem;
}

.vaciar{
    border-radius: 20px;
    color: var(  --texto-negro-blanco);
    font-size: 17px;
   background-color: var( --botones);
    padding: 5px 10px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.comprar{
    border-radius: 20px;
    color: var(  --texto-negro-blanco);
    font-size: 17px;
   background-color: var( --botones);
    padding: 5px 10px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.total-price{
    text-align: center;
    font-weight: 500;
    color: var(  --botones);
    font-size: 18px;
}

.no-hay-productos{
    color: var(  --bgv-color);
    font-size: 15px;
}
.title-plane{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.plane{
    font-size: 14px;
    margin: 0;
    color: var(--text-color)!important;
}

.price-title h2{
   margin: 0;
   width: 70%;
}

.carrito-price{
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    margin-top: -7px;
    color: var(--text-color)!important;
}


html::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    cursor: pointer;
 }
 
html::-webkit-scrollbar-thumb{
     background-color: var(--botones);
     width: 10px;
     border-radius:20px ;
     cursor: pointer;
 }