.cardOferta{
    background-color: var(--bg-contain-text);
    width:100%;
    min-height: 20vh;
    border-radius: 10px;
    box-shadow: 0 2px 2px #1a1e25;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    text-align: left;
}

.cardOferta:hover {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.7);
    transition: all .40s ease;
}

.cardOferta a{
    color: var(--bgv-color);
    text-decoration: none;
}

.cardOferta img{
    width: 100%;
    height: 100%;
}

.cardOfertaText {
   display: flex;
   flex-direction: column;
    padding: 2% 5%;
    width: 90%;
}
.cardOfertaText p{
    color: var(--text-color)!important;
    font-size: 14px;
}