
:root .logo2 {
    --text-color: #fff;
    --bg-color: #fff;
    --bgv-color: #000;
    --anchor-color:#000;
    display: none;
  }
  .theme-dark .logo{
    --text-color: #fff!important;
    --bg-color: #141627!important;
    --bgv-color: #D1F366;
    --anchor-color:#ffff;
    display: none;
    
}
.logo2 img{
    width:70px;
}
.theme-dark .logo2 {
    display: flex!important
}



nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 0px 10%;
    height: 10vh;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
  }

.parrafo{
    display: none;
}

.logo img{
    width:70px;
    
}




.nav_items.open{
    transform: translateX(0) !important;
  
}


.nav_toggle{
    display: flex !important;
    flex-direction: column;                
    margin: 15px;
    cursor: pointer;
}
.nav_toggle span{
    width: 30px;
    height: 4px;
    background: var(--bgv-color);
    margin-bottom: 5px;
    border-radius: 2px;             
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
}


.logo-nav img{

    width: 200px;
}

.nav_toggle {
    z-index: 10000;
}


.nav_toggle span{
    display: none;
}

.logo-nav{
    display: none;
}
.nav_items{
    width: 100%;
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    
}
.nav_items a{
    padding: 0px 20px;
    color: #000;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all .30s ease;
    -webkit-transition: all .30s ease;
    -moz-transition: all .30s ease;
    -ms-transition: all .30s ease;
    -o-transition: all .30s ease;
}

.enlaces a:hover{
    color: #000;
}




.iconos2{
    align-items: center;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
    display: none;
    gap: 3rem;
    
}





/*modal*/

.modal-nav{
    z-index: 30000;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
    height: 100vh;
    gap: 2rem;
    align-items: center;
    border-left: 3px solid var(--bgv-color);
    background: linear-gradient(0deg,var(--gradient1) 0%, var(--gradient2) 100%)!important;
}
.cerrar-modal {
    cursor: pointer;
   text-align: right;
   width: 20px;
   font-size: 35px;
   color: var(--bgv-color);
}

#login{
    text-decoration: none;
    font-size: 20px;
    color: var(--bgv-color);
}

.loginText{
    color: var(--bgv-color);

}

.cerrar-nav{
    display: none;
    color: var(--bgv-color);
    margin-left: 70%;
}
.redes-sociales{
    
   
    display: none;
}

.icons-nav{
    display: flex;
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    gap: 3rem;
}

@media (max-width: 1024px) {
    .icons-nav{
        display: none;
    }
    .cerrar-nav{
        font-size: 30px;
        font-weight: bold;
        display: flex;
    }
    .redes-sociales{
        margin-top: 40%;
        gap: 1rem;
        display: flex;
        font-size: 20px;
       }
   .modal_content{
    width: 100%;
    min-height: 100vh;
   z-index: 2000000;
    position: fixed;
    margin-top: 44%;
   }
    .modal-nav{
       left: 50%;
        width: 50%;
        height: 100%;
      
}
   
    .iconos2{
        display: flex;
    }


    .parrafo{
        display: flex;
        color: #000;
        padding: 10% 10%;
        font-size: 13px;
    }

    .nav_items{
        justify-content:flex-start;
        display: flex;
        padding-top: 6px;
        align-items: center;
        align-content: center;
    }

    
    .logo-nav{
        display: flex;
    }

    .nav_toggle span{
        display: flex;
    }
    .nav_items span {
       
        padding: 10px 3rem;
    }
    .nav_items{
        width: 50%;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
        display: none;
}
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
        display: none;
}

    .nav_items{
        z-index: 800;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #5555;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        height: 100vh;
        gap: 2rem;
       
    }

    .nav_items a{
       padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .enlaces{
        margin-top: 20%;
        gap: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .logo-nav img{
        width: 80px;
    }
    .cerrar-modal {
       margin-left: 80%;
    }
}




@media (max-width: 700px) {
    .modal-nav{
        left: 100%;
         width: 100%;
         height: 100%;
       
 }

    nav{
        padding: 0px 0%;
    }
    
    
    .nav_items{
        width: 105%;
    }

    


}




  
  h1,h3,h4,h5{
    color: var(--text-color)!important;
  }
  
  .cometent-bg-color {
    transition: 0.6s ease all;
    background-color: var(--bg-color)!important;
  }
  
  
  .main-content  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
.navbar a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  
.navbar.scrolled {
    background-color: var(--bg-color)!important;
    color: var(--bgv-color);
    transition: 0.6s ease all;
    background: linear-gradient(0deg,var(--gradient1) 0%, var(--gradient2) 100%);
}
.navbar.scrolled a{
    color: var(--anchor-color);
    transition: 0.6s ease all;
}

.modal-nav{
    background-color: var(--bg-color)!important;
}
.logo2-nav{
    display: none;
    width: 80px;
    }
    
    .logo-nav{
        width: 80px;
        display: none;
    }


    .logos{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .logos h1{
        font-weight: 600;
        font-size: 23px;
        font-family:sans-serif;
        color: var(--text-color)!important;
    }
@media (max-width: 1024px) {
    .nav_items{
        background: linear-gradient(0deg,var(--gradient1) 0%, var(--gradient2) 100%)!important;
        
    }
    .navbar a{
        color: var( --text-color);
      }
   

    .logo2-nav {
        display: flex;
       
        }
        .logo2-nav img{
            width: 80px;
        }
        
        .logo-nav {
            display: flex;
            width: 80px;
        }
        .logo-nav img{
            width: 80px;
        }
        :root  .logo2-nav {
            display: none;
          }
          .theme-dark .logo2-nav {
            display: flex;
        }
        
        :root  .logo-nav {
            display: flex;
          }
          .theme-dark .logo-nav {
            display: none;
            
        }
        .redes-sociales i{
        color: var(--bgv-color);
        }
        .logos h1{
            font-size: 23px;
            color: var(--bgv-color)!important;
            display: none;
        }
}




